* {
    font-family: Helvetica, sans-serif;
    margin: 0;

}

/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');



:root {
    /* Smoothly transition from sharp corners when the window is narrow
    and rounded corners when the window is wide. */
    --break-width: 50rem;
    --main-width: min(100vw, var(--break-width));
    --max-radius: 1rem;
    --corner-radius: min(var(--max-radius), calc((100vw - var(--break-width))/10));
    /* --title-size: calc(2rem + max(0px, var(--corner-radius))); */
    --title-size: min(calc(1.5rem + 2vw), 3rem);
    --panel-color: rgb(44, 44, 44);
    --panel-text-color: white;
    --back-color: rgb(84, 93, 172); 
    /* rgb(84, 93, 172); */
    --back-text-color: rgb(255, 255, 255);
     /* rgb(154, 84, 172); */
}

/* DARK MODE */
#darkmode-hidden-checkbox {
    display: none;
}

#darkmode-label {
    display: inline-block;
    color: var(--back-text-color);
    /* padding: 0.5rem 0.5rem 0.5rem 0; */
    margin-bottom: 1rem;
}
#darkmode-switch {
    font-size: 1.1rem;
    display: inline-block;
    margin-left: 0.2em;
    /* margin-top: 12px; */
    /* width: 2.5rem; */
    /* padding: .2rem 1rem .2rem 0.2rem; */
    /* margin-right: 10em; */
    vertical-align: bottom;
    padding: .2em 0.2em .2em 1.5em;
    /* background-color: rgb(41, 41, 41); */
    background-color: var(--panel-color);
    /* border: 0.2em solid var(--panel-text-color); */
    border-radius: 1em;
    transition: padding 0.2s;
}
#darkmode-switch #knob {
    display: block;
    width: 1em;
    height: 1em;
    background-color: var(--panel-text-color);
    border-radius: 1em;
}
#darkmode-hidden-checkbox:checked ~ * {
    --panel-color: rgb(255, 255, 255);
    --panel-text-color: rgb(0, 0, 0);
}
#darkmode-hidden-checkbox:checked ~ * #darkmode-switch {
    /* background-color: #ccc; */
    /* background-color: rgb(255, 255, 255); */
    padding: .2em 1.5em .2em 0.2em;
}

/* Basic */
body {
    /* rgb(172, 100, 84); */
    /* background-color: rgb(84, 93, 172); */
    background-color: var(--back-color);
    
    display: grid;
    /* justify-items: center; */
    justify-content: center;
    grid-template-columns: calc(var(--main-width));
    /* grid-template-columns: auto; */
    grid-template-rows: auto;
}


    
main, header, footer {
    color: var(--panel-text-color);
    /* width: 100vw; */
    /* max-width: calc(var(--main-width)); */
    background-color: var(--panel-color);
    transition: background-color 0.2s;
}
header {
    background-color: #00000000;
    max-width: calc(var(--break-width) - 2rem);
    
}
footer {
    border-radius: 0 0 var(--corner-radius) var(--corner-radius);
    background-color: #00000000;
    color: white;
    padding: 1rem;
    /* font-family: monospace; */
    /* padding: 1rem; */
}

main {
    /* padding: 10px; */
    padding: 1rem;
    /* width: calc(var(--main-width)); */
    border-radius: var(--corner-radius); /*var(--corner-radius) 0 0;*/
}


/* Nav Bar */
nav {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    /* padding: 0; */
    padding-top: 5px;
    margin: 0;
    /* position: fixed; */
    /* background-color: var(--back-color); */
   
}
nav a {
    font-family: monospace;
    text-transform: uppercase;
    /* font-weight: bold; */
    text-decoration: none;
    padding: 1rem;
    color: var(--back-text-color);
    /* height: 50%; */
    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: background-color 0.2s;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.211);
}
nav a.active-tab {
    background-color: var(--panel-color);
    color: var(--panel-text-color);
}
a {
    color:rgb(95, 146, 255);
    transition: text-decoration-line 1s;
}
a:hover {
    text-decoration-line: none;
}

#my-portrait {
    padding: 0;
    border-radius: 100rem;
    background-color: #848bca;
    display: block;
    margin: 1rem;
    /* flex: 0 0 40%; */
}

#my-portrait img {
    /* right: 0; */
    display: block;
    margin: 0;
    border-radius: 100rem;
}

h1 {
    flex-basis: 100%;
    /* text-align: center; */
    font-size: var(--title-size);
}

main {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: ; */
    grid-template-columns: 1fr;
}

aside {
    padding: 1rem;
    display: block;
    flex: 1 0 40%;
}


@media (max-width: 30rem) {
    main {
        justify-content: center;
    }
    nav p {
        display: none;
    }
    h1 {
        text-align: center;
    }
  }

nav p {
    margin: auto auto auto 1rem;
}
/* nav img {
    margin-right: auto;
} */

/* h1 strong {
    font-size: calc(5rem + var(--corner-radius));
} */

/* p ~ h1 {
    font-size: 5rem;
} */