* {
    font-family: Helvetica, sans-serif;
    margin: 0;

}

:root {
    /* Smoothly transition from sharp corners when the window is narrow
    and rounded corners when the window is wide. */
    --break-width: 50rem;
    --main-width: min(100vw, var(--break-width));
    --max-radius: 1rem;
    --corner-radius: min(var(--max-radius), calc((100vw - var(--break-width))/10));
    --title-size: min(calc(1.5rem + 2vw), 3rem);
    --panel-color: rgb(44, 44, 44);
    --panel-text-color: white;
    --back-color: rgb(84, 93, 172);
    --back-text-color: rgb(255, 255, 255);
}

/* DARK MODE */
#darkmode-hidden-checkbox {
    display: none;
}

#darkmode-label {
    display: inline-block;
    color: var(--back-text-color);
    /* padding: 0.5rem 0.5rem 0.5rem 0; */
    margin-bottom: 1rem;
}
#darkmode-switch {
    font-size: 1.1rem;
    display: inline-block;
    margin-left: 0.2em;
    /* margin-top: 12px; */
    /* width: 2.5rem; */
    /* padding: .2rem 1rem .2rem 0.2rem; */
    /* margin-right: 10em; */
    vertical-align: bottom;
    padding: .2em 0.2em .2em 1.5em;
    /* background-color: rgb(41, 41, 41); */
    background-color: var(--panel-color);
    /* border: 0.2em solid var(--panel-text-color); */
    border-radius: 1em;
    transition: padding 0.2s;
}
#darkmode-switch #knob {
    display: block;
    width: 1em;
    height: 1em;
    background-color: var(--panel-text-color);
    border-radius: 1em;
}
#darkmode-hidden-checkbox:checked ~ * {
    --panel-color: rgb(255, 255, 255);
    --panel-text-color: rgb(0, 0, 0);
}
#darkmode-hidden-checkbox:checked ~ * #darkmode-switch {
    /* background-color: #ccc; */
    /* background-color: rgb(255, 255, 255); */
    padding: .2em 1.5em .2em 0.2em;
}

/* Basic */
body {
    background-color: var(--back-color);
    
    display: grid;
    justify-content: center;
    grid-template-columns: calc(var(--main-width));
    grid-template-rows: auto;
}


    
main, header, footer {
    color: var(--panel-text-color);
    background-color: var(--panel-color);
    transition: background-color 0.2s;
}
header {
    background-color: #00000000;
    max-width: calc(var(--break-width) - 2rem);
    
}
footer {
    border-radius: 0 0 var(--corner-radius) var(--corner-radius);
    background-color: #00000000;
    color: white;
    padding: 1rem;
}

main {
    padding: 1rem;
    border-radius: var(--corner-radius);
}


/* Nav Bar */

nav {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    padding-top: 5px;
    margin: 0;
   
}
nav a {
    font-family: monospace;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    color: var(--back-text-color);
    
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    transition: background-color 0.2s;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.211);
}
nav a.active-tab {
    background-color: var(--panel-color);
    color: var(--panel-text-color);
}
a {
    color:rgb(95, 146, 255);
    transition: text-decoration-line 1s;
}
a:hover {
    text-decoration-line: none;
}

#my-portrait {
    padding: 0;
    border-radius: 100rem;
    background-color: #848bca;
    display: block;
    margin: 1rem;
}

#my-portrait img {
    display: block;
    margin: 0;
    border-radius: 100rem;
}
h1 {
    flex-basis: 100%;
    font-size: var(--title-size);
}

main {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
}

aside {
    padding: 1rem;
    display: block;
    flex: 1 0 40%;
    align-self: center;
}


@media (max-width: 30rem) {
    main {
        justify-content: center;
    }
    nav p {
        display: none;
    }
    h1 {
        text-align: center;
    }
  }

main section, main p {
    flex: 1 0 50%;
    margin: 0.5rem;
    padding: 0.8rem;
    border-radius: 1rem;
    background-color: #b9add41e;
    align-self: baseline;

}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=JetBrains+Mono:wght@300&display=swap');

nav p {
    font-family: 'JetBrains Mono', monospace;
    padding: 0;
    margin: auto auto auto 1rem;
    color: white;
    background-color: #00000000;
}

figure {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}
figcaption {
    flex: 1 0 30%;
    padding: 1rem;
}
figure img, figure picture {
    border-radius: 1rem;
    flex: 1 0 20%;
    max-width: calc(100vw - 7rem);
    height: auto;
    
}
figure p {
    margin: 0;
    padding: 0;
    background-color: #00000000;
}

/* FORM */
input[type="text"], input[type="email"] {
    background-color: #b9add494;
    border-radius: 0.1rem;
    border-style: none;
    color: var(--panel-text-color);
    height: 2rem;
    margin: 0.2rem;
    padding: 0 0.5rem;
}
textarea {
    background-color: #b9add494;
    border-radius: 0.1rem;
    border-style: none;
    color: var(--panel-text-color);
    resize: none;
    margin: 0.2rem;
    padding: 0.5rem;
}
select {
    background-color: #b9add494;
    border-radius: 0.1rem;
    padding: 0.4rem;
    border-style: none;
    color: var(--panel-text-color)
}
button {
    background-color: var(--back-color);
    border-radius: 0.5rem;
    border-style: none;
    color: var(--back-text-color);
    margin: 0.2rem;
    padding: 1rem 1rem 0.8rem 1rem;
    cursor: pointer;
    box-shadow: 0 0.5rem rgb(46, 32, 104);
}
button:active {
    box-shadow: 0 0.2rem rgb(33, 24, 71);
    transform: translateY(0.3rem);
}
label[for="name-input"], label[for="email-input"] {
    display: inline-block;
    width: 12ch;
}
.contact-section {
    flex: 1 0 20%;
}

/* TABLE */

th, tr, col {
    text-align: center;
    background-color: #6a6f973b;
}
.languages {
    background-color: #7983cec9;
}
.utilities {
    background-color: #375ec9c9;
}